.filter_form {
    display: flex;
    align-items: start;
    justify-content: stretch;
    column-gap: 20px;
}


 .filter {
    color: black;
 }

 .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }