<div *ngIf="!isEdit" class="row">
  <div class="cell">{{ user.fio }}</div>
  <div class="cell">{{ user.email }}</div>
  <div class="cell">***********</div>
  <div class="cell">
    <div *ngFor="let role of user.roles">{{ role.name }}</div>
  </div>

  <div class="button__container-user">
    <button (click)="isEdit = !isEdit" class="btn btn-dark">
      Редактировать
    </button>
    <button (click)="delete()" class="btn btn-dark">Удалить</button>
  </div>
</div>

<app-user-form
  [isCreate]="false"
  *ngIf="isEdit"
  (updateEvent)="update($event)"
  (closeFormEvent)="closeForm()"
  [roleList]="roleList"
  [user]="user"
></app-user-form>
