<div class="row">
    <div *ngIf="!isEdit">{{user.fio}}</div>
    <div *ngIf="!isEdit">{{user.email}}</div>
    <div *ngIf="!isEdit">***********</div>
    <div *ngIf="!isEdit">
        <div *ngFor="let role of user.roles">{{role.name}}</div>
    </div>
    <button (click)="isEdit = !isEdit" mat-raised-button color="primary">{{isEdit ? 'отм' :
        'ред'}}</button>
</div>
<app-user-form *ngIf="isEdit" (updateEvent)="update($event)" [roleList]="roleList" [user]="user" class="btn btn-light"></app-user-form>