<div class="button__container">
  <button (click)="isEdit = !isEdit" class="btn btn-light">
    {{ isEdit ? "Закрыть" : "Добавить пользователя" }}
  </button>
</div>

<app-user-form
  (createUserEvent)="createUser($event)"
  (closeFormEvent)="closeUserForm()"
  [isCreate]="true"
  *ngIf="isEdit"
></app-user-form>
<div class="clearfix">
<mat-spinner *ngIf="spinnerService.loading$ | async"></mat-spinner>
</div>
<div
  class="table"
  *ngFor="
    let user of userList$ | async | paginate : { itemsPerPage: 15, currentPage }
  "
  [user]="user"
  [roleList]="roleList$"
  app-user-table-row
  [isCreate]="false"
  (updateEvent)="update($event)"
  (deleteEvent)="deleteUser($event)"
></div>
<div class="clearfix">
  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>