.table {
  width: 100%;
  border-radius: 10px;
  color: black;
  background-color: white;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}


.clearfix {
  position: relative;
  right: 35%;
  left: 35%;
  font-size: 14px;
  color: white;
}