<mat-card [ngClass]="{greyBack: isOldMeetup}">
    <mat-card-content>

        <div>
            <div class="meetup_header">
                <span class="meetup_name">{{meetup.name}}</span>
                <span class="meetup_subscribers">Подписчики: {{meetup.users.length}}</span>
            </div>

            <div class="meetup_description">{{meetup.description}}</div>
            <!-- <div class="meetup_user">{{meetup.owner.fio}}</div> -->
        </div>

        <div>
            <div class="meetup_time">{{getDate(meetup.time)}}</div>
            <div class="meetup_location">{{meetup.location}}</div>

            <div *ngIf="!isOldMeetup && !isUserPage">
                <button *ngIf="!isSubscribe" (click)="subscribe()" class="btn btn-light">Я пойду</button>
                <button *ngIf="isSubscribe" (click)="unsubscribe()" class="btn btn-light">Не смогу
                    пойти</button>
            </div>
            <div *ngIf="isUserPage">
            <button *ngIf="isCanEdit" (click)="openDialog()" class="btn btn-light">Редактировать</button>
            <button *ngIf="isCanEdit" (click)="delete()" class="btn btn-light">Удалить</button>
            </div>
            <button (click)="isOpen = !isOpen" class="btn btn-light">
                <mat-icon>{{isOpen ? 'expand_less' : 'expand_more'}}</mat-icon>
            </button>
        </div>
    </mat-card-content>
</mat-card>

<div *ngIf="isOpen">
    <div>{{meetup.name}}</div>
    <div>{{meetup.description}}</div>
    <div>{{meetup.users.length}}</div>
    <!-- <div>{{meetup.owner.fio}}</div> -->
    <div>{{meetup.time}}</div>
    <div>{{meetup.location}}</div>
</div>