<section class="meetup">
  <div class="meetup__content">
    <div class="header">
      <div>
        <div class="meetup_header">
          <span class="meetup_name">{{ meetup.name }}</span>
          <span class="meetup_subscribers"
            ><mat-icon>accessibility_new</mat-icon>:
            {{ meetup.users.length }}</span
          >
        </div>

        <div class="meetup__description">{{ meetup.description }}</div>
      </div>
      <div class="meetup_user">
        {{
          meetup.owner && meetup.owner.fio
            ? meetup.owner.fio
            : "Неизвестный автор"
        }}
      </div>
    </div>
    <div>
      <div class="container__date">
        <div class="meetup_time">{{ getDate(meetup.time) }}</div>
        <div class="meetup_location">{{ meetup.location }}</div>
      </div>
      <div class="button__container">
        <div *ngIf="!isOldMeetup && !isUserPage">
          <button
            *ngIf="!isSubscribe"
            (click)="subscribe()"
            class="btn btn-dark"
          >
            Я пойду
          </button>
          <button
            *ngIf="isSubscribe"
            (click)="unsubscribe()"
            class="btn btn-dark"
          >
            Не смогу пойти
          </button>
        </div>

        <div *ngIf="isUserPage">
          <button *ngIf="isCanEdit" (click)="openDialog()" class="btn btn-dark">
            Редактировать
          </button>
        </div>
        <div *ngIf="isUserPage">
          <button *ngIf="isCanEdit" (click)="delete()" class="btn btn-dark">
            Удалить
          </button>
        </div>

        <button (click)="isOpen = !isOpen" class="btn btn-dark">Ещё</button>
      </div>
    </div>
  </div>
</section>

<div *ngIf="isOpen" class="meetup__modal">
  <div class="meetup__content-modal">
    <div>Название: {{ meetup.name }}</div>
    <div>Описание: {{ meetup.description }}</div>
    <div>Участники: {{ meetup.users.length }}</div>
    <div>
      Организатор:
      {{
        meetup.owner && meetup.owner.fio
          ? meetup.owner.fio
          : "Неизвестный автор"
      }}
    </div>
    <div>Время: {{ meetup.time }}</div>
    <div>Место: {{ meetup.location }}</div>
  </div>
</div>
