.meetup_list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.clearfix {
  position: relative;
  right: 35%;
  left: 35%;
  font-size: 14px;
  color: white;
}