.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
}

.form_control {
  display: flex;
  gap: 20px;
}

.form_control, mat-form-field, .btn, button {
  width: 100%;
}
.error {
  font-size: 12px;
  color: red;
}