.row {
  display: grid;
  grid-template-columns: repeat(4, 2fr) 1fr;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  background-color: white;
}

.form_control {
  border-radius: 10px;
}

.button__container-user {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.form_control, .input, .select {
  width: 100%;
}