<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="row">
  <div class="form_control">
    <mat-form-field appearance="outline" class="input">
      <mat-label>Имя</mat-label>
      <input formControlName="fio" type="text" matInput required="true" />
    </mat-form-field>
    <div
      class="error"
      *ngIf="
        userForm.controls['fio'].invalid && userForm.controls['fio'].touched
      "
    >
      <div *ngIf="userForm.controls['fio'].hasError('required')">
        Необходимо заполнить поле 'имя'
      </div>
      <div *ngIf="userForm.controls['fio'].hasError('minlength')">
        Минимальная длина 2 символа
      </div>
    </div>
  </div>
  <div class="form_control">
    <mat-form-field appearance="outline" class="input">
      <mat-label>Почта</mat-label>
      <input formControlName="email" type="email" matInput required="true" />
    </mat-form-field>
    <div
      class="error"
      *ngIf="
        userForm.controls['email'].invalid && userForm.controls['email'].touched
      "
    >
      <div *ngIf="userForm.controls['email'].hasError('required')">
        Введите почту
      </div>
      <div *ngIf="userForm.controls['email'].hasError('email')">
        Пожалуйста, укажите корректный адрес
      </div>
    </div>
  </div>
  <div class="form_control">
    <mat-form-field appearance="outline" class="input">
      <mat-label>Новый пароль</mat-label>
      <input
        *ngIf="!isCreate"
        formControlName="password"
        type="password"
        matInput
      />
      <input
        *ngIf="isCreate"
        formControlName="password"
        type="password"
        matInput
        required
      />
    </mat-form-field>
    <div
      class="error"
      *ngIf="
        userForm.controls['password'].invalid &&
        userForm.controls['password'].touched
      "
    >
      <div
        *ngIf="userForm.controls['password'].hasError('required') && isCreate"
      >
        Введите пароль
      </div>
      <div *ngIf="userForm.controls['password'].hasError('minlength')">
        Минимальная длина пароля 4 символа
      </div>
    </div>
  </div>
  <div *ngIf="!isCreate" class="form_control">
    <mat-form-field class="select" appearance="outline">
      <mat-label>Добавить роль</mat-label>
      <mat-select class="select" formControlName="role">
        <mat-option
          *ngFor="let role of roleList | async"
          value="{{ role.name }}"
          disabled="{{ check(role.name) }}"
          >{{ role.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form_control button__container-user">
    <button type="submit" class="btn btn-dark">Сохранить</button>
    <button *ngIf="!isCreate" (click)="closeForm()" class="btn btn-dark">
      Отменить
    </button>
  </div>
</form>
